<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PortMapper">

    <delete id="deleteByNameDatePort">
        delete from container
        <where>
            <if test="port_name!=null">
                and port_name=#{port_name}
            </if>
            <if test="action_date!=null and action_date!=''">
                and action_date=#{action_date}
            </if>user
        </where>

    </delete>


    <insert id="insert">
        insert into container() values(null,#{port_name},#{container_id},#{container_size},#{lading_id},#{container_yard},#{action},#{action_date})
    </insert>

    <select id="selectAll" resultType="integer">
        select count(*) from container where action_date between #{action_date_on} and #{action_date_off}
    </select>



    <select id="selectByNameDatePort" resultType="pojo.Port">
        select* from container
        <where>
            <if test="port_name!=null">
                and port_name=#{port_name}
            </if>
            <if test="action_date_on!=null and action_date_on!=''">
                and action_date between #{action_date_on} and #{action_date_off}
            </if>
            <if test="lading_id!=null ">
                and lading_id=#{lading_id}
            </if>
            <if test="action!=null">
                and action=#{action}
            </if>
        </where>
    </select>


    <update id="update">
        update container
        <set>
            <if test="port_name!=null">port_name=#{port_name}, </if>
            <if test="container_id!=null">container_id=#{container_id}, </if>
            <if test="container_size!=null">container_size=#{container_size}, </if>
            <if test="lading_id!=null">lading_id=#{lading_id}, </if>
            <if test="container_yard!=null">container_yard=#{container_yard}, </if>
            <if test="action!=null">action=#{action}, </if>
            <if test="action_date!=null">action_date=#{action_date}, </if>
        </set>
        where `index`=#{index}
    </update>


</mapper>